.ant-switch-checked {
  background-color: linear-gradient(to right, #b5000b, #660006) ;
}
.ant-switch.ant-switch-checked{
  background-color: linear-gradient(to right, #b5000b, #660006) ;
}
.ant-switch-disabled {
  opacity: 1;
}