.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  // background-color: #f8f8f8;
  background-color: #ebebeb;

  .main {
    height: inherit;
    flex: 1;
   padding-left: 20px;
   padding-right: 20px;

    .outlet {
      padding: 12px 24px;
    }
  }

}