.card {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
  color: #5e5873;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  cursor: pointer;
  position: relative;
  min-width: 0;

  // Si la card NO tiene icono, centrar el texto verticalmente
  &.noIcon {
    justify-content: center;
    > .title {
      margin: 0;
      align-items: center;
      display: flex;
      height: 100%;
      color: #5e5873;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.2px;
      justify-content: center;
      text-align: center;
    }
  }

  >.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px auto;
    font-size: 32px;
    color: #b5000b;
    background-color: rgba(115, 103, 240, 0.12);
    border-radius: 100px;
    position: relative;

    >img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
  }

  >.title {
    font-weight: 500;
    font-size: 1rem;
    color: #5e5873;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    letter-spacing: 0.2px;
  }

  &:hover {
    >.icon {
      color: #fff;
      background-color: #b5000b;
    }
    >.title {
      color: #660006;
      font-weight: 600;
    }
  }
}
