.swatch {
    display: inline-block;
    width: 100%;
    padding: 5px;
    background: #fff;
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    cursor: pointer;

    .color {
        width: 100%;
        height: 25px;
        border-radius: 0.357rem;
    }
}

.popover {
    position: absolute;
    z-index: 2;

    .cover {
        top: 0px;
        
        .colorPicker {
            font-family: Arial, sans-serif !important;

            svg:hover {
                background: rgba(0, 0, 0, 0.018) !important;
            }
        }

    }
}