.sidebar {
  background-color: #fff;
  height: 200vh;
  width: 300px !important;
  max-width: 300px !important;

  >.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 10px 22px;

    >.logo {
      height: 120px;
    }
  }

  .logo {
    margin: 30px 15px;
  }

  .collapsedLogo {
    height: 70px;
    margin: 0px 3px;
  }

  .version {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // padding-left: 26px;
    margin: 35px 25px;
    color: #a6a4b0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .versionRes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 5px;
    color: #a6a4b0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }


  .sections {
    padding-top: 10px;

    >.section {
      margin-bottom: 30px;

      >.title {
        color: #a6a4b0;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 0 10px 30px;
      }

      >.link {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 15px;
        margin: 0px 15px;
        border-radius: 5px;
        color: #625f6e;
        transition: padding 0.3s ease-in-out;

        >.anticon {
          width: 20px;

          >img {
            width: 20px;
            height: 20px;
          }
        }

        >.icon {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 15px;
          font-size: 20px;
          width: 10px;

        }

        >.title {
          font-size: 15px;
        }

        &:hover {
          padding-left: 25px;
        }

        &.active {
          background: linear-gradient(118deg,
              #1597d4,
              rgb(0 72 233 / 70%));
          color: #fff;
          box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
        }
      }
    }
  }
}

.activeLink {
  color: #840008;
  box-sizing: border-box;
  background-color: #840008 !important;
  border-right: 3px solid #840008 !important;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px 25px;
  color: white;
}
.parent {
color: rgb(255, 255, 255) !important;

          }